@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Tangerine&display=swap');

/*clear default settings, set styles in body*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:Roboto+slab, sans-serif;
    font-weight: 200;
    font-size: 150%;
    color: #000033;
}

/*header styling*/

header{
    height: 250px;
    width: 100%;
    background-color: #FADBD8;
}

#buiness-name {
    margin-top: 50px;
    margin-right: 15%;
    float:right;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: Tangerine, sans-serif;
    font-size: 500%;
    color:#330033;
}

#logo {
    margin-top: 10px;
    margin-left: 3%;
    float: left;
}

/* navigation styling*/
nav {
    width: 100%;
    float: left;
    font-size: 120%;
    margin-left: 3%;
}

#active {
    text-decoration: none;
}

#active:hover {
    color: #339900;
}
/*styles for line breaks and headings*/

br {
    line-height: 200px;
}

h2 {
    font-family: Tangerine, sans-serif;
    font-size: 200%;
    letter-spacing: 4px;
    color:#330033;
    margin-left: 5%;
    text-decoration: underline wavy #330033 2px;
   
}
/*styling for about me*/
#personal-details {
    height: 300px;
    width: 100%;
    margin-top: 3%;
    margin-left: 5%;
    font-size: 100%;
    line-height: 40px;

}

/* mission statement*/
#Mission-statement{
    height: 300px;
    width: 100%;
    margin-top: 3%;
    margin-left: 5%;
    font-size: 100%;
    line-height: 40px;
}

p {
    margin-left: 5%;
    line-height: 40px;
}

/* footer */

footer {
    height: 250px;
    width: 100%;
    background-color: #FADBD8;
}

#footer-heading {
    font-size: 200%;
    margin-top: 10%;
}


.social-networks {
    text-align: center;
    height: 400px;
    width: 100%;
    background-color: #FADBD8;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 5%;
    padding: 5%;
    color: #330033;
}

/*services offered*/

#services-heading {
    margin-top: 2%;
}

h3 {
    font-family: Tangerine, sans-serif;
    font-size: 150%;
    letter-spacing: 4px;
    color:#330033;
    margin-left: 5%;
    text-decoration: underline wavy #330033 2px;
   
}
#record-type {
    height: 100px;
}

ul {
    list-style: none;
}

#services-offered {
    height: 400px;
   
}

#left-text {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 100%;
    line-height: 40px;
    padding-top: 40px;
    width: 33%;
    float: left;
    
}

#right-text {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 100%;
    line-height: 40px;
    padding-top: 40px;
    width: 33%;
    float: right;
    
}

#middle-text {
   
    font-size: 100%;
    line-height: 40px;
    padding-top: 40px;
    width: 33%;
    margin: 0 auto;
    
}


#list-of-services, #contact-us {
    margin-top: 1%;
}



/* different size media queries*/

/* Styling for media devices 1200px wide and down*/


@media screen and (max-width: 1200px) {
   #business-mane {font-size: 10vw;}

    #services-offered {
        width: 65%;
        height: 1200px;
        margin: 3% auto;
    }

    #record-type {
        padding: 30px 0;
        margin: 3% auto;
    }

    #left-text, #right-text {
        margin-top: 3%;
        width: 100%;
        float: left;
        padding: 0;
    }

    #middle-text {
        clear: both;
        width: 100%;
        float: left;
        padding: 0; 
        margin: 3% auto;  
    } 
    
}

/* styling for media devices 950px and down */
@media screen and (max-width: 950px) {
    #navigation-bar {
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

